body#tinymce{background: #30363c; color:#ccc; margin: 12px 20px 30px;}
body#tinymce a{color: #6AB8A9}

body#tinymce .mce-path, 
body#tinymce .mce-path .mce-divider, 
body#tinymce .mce-path .mce-path-item{color: #30363c;}

body#tinymce .mce-btn.mce-active button,
body#tinymce .mce-btn.mce-active:hover button,
body#tinymce .mce-btn.mce-active i,
body#tinymce .mce-btn.mce-active:hover i {color:#30363c}

body#tinymce .mce-menu.mce-in{background: #13323e;}

body#tinymce ol, body#tinymce ul{padding-left: 0; margin-top: 5px; display: block; list-style: none;}
body#tinymce ol ul, body#tinymce ul ul, body#tinymce ul ol, body#tinymce ol ol{padding-left: 15px;}
body#tinymce ol{counter-reset: section;}
body#tinymce ol > li:before{counter-increment: section; display: inline-block; content: counter(section) '.'; margin-right: 8px;}

body#tinymce ul > li:before{content: ''; display: inline-block; width: 6px; height: 6px; margin-right: 8px; background-color: #738891; vertical-align: 2px;}
body#tinymce ol ul, body#tinymce ul ol{margin-bottom: 15px;}
body#tinymce li{margin-bottom: 3px;}

body#tinymce h1, body#tinymce h2, body#tinymce h3,body#tinymce  h4, body#tinymce h5, body#tinymce h6{margin-bottom: 10px; line-height: 1;}
body#tinymce p ~ h1, body#tinymce p ~ h2, body#tinymce p ~ h3, body#tinymce p ~ h4, body#tinymce p ~ h5, body#tinymce p ~ h6 { margin-top: 35px; }
body#tinymce ul ~ h1, body#tinymce ul ~ h2, body#tinymce ul ~ h3, body#tinymce ul ~ h4, body#tinymce ul ~ h5, body#tinymce ul ~ h6, body#tinymce ol ~ h1, body#tinymce ol ~ h2, body#tinymce ol ~ h3, body#tinymce ol ~ h4, body#tinymce ol ~ h5, body#tinymce ol ~ h6 { margin-top: 35px; }

body#tinymce blockquote{margin-left: 0; margin-right: 0; background: #244b5b; box-shadow: 10px; border-radius: 10px; outline: 1px dashed white; outline-offset: -3px; padding: 10px 15px; color: white;}

body#tinymce img{border-radius: 20px; box-shadow:0px 0px 10px rgba(100, 100, 100, .1); overflow:hidden; aspect-ratio:unset}
body#tinymce img.size-full{width:100%}
body#tinymce img.size-full.not-full{width:auto}
body#tinymce img.aligncenter{display:block; margin:auto}
body#tinymce img[src*="png"]{box-shadow:none}
body#tinymce .wp-video{margin-bottom:15px; border-radius: 20px; box-shadow:0px 0px 10px rgba(100, 100, 100, .1); overflow:hidden}