/* Слайдер */
.slide-box{margin-bottom: 5px;}
.slide-box{width: 100%;float: left;background-color: #f1f1f1;border: 1px solid #dddddd;padding: 5px;box-sizing: border-box;}

.slide-default{display: none;}

.slide-expand{width: 100%;padding: 6px 6px 10px;box-sizing: border-box;font-weight: 700;height: 33px;cursor: pointer;}
.slide-expand .dashicons{float: right;}

.slide-content{display: none;}
.slide-content.active{display: block;}

.slide-img{width: 100%;float: left;background-color: #fff;padding: 5px;display: block;box-sizing: border-box;
border: 1px solid #dddddd;border-radius: 3px;cursor: pointer;}
.slide-img:hover{border: 1px solid #bbbbbb;}

.slide-info{width: 100%;float: left;display: block;}
.slide-info .slide-ico{position: relative;}
.slide-info .slide-ico i{position: absolute; right: 6px; top: 6px; font-size: 22px; }
.slide-info span{margin-bottom: 5px;float:left;width:100%;}
.slide-info textarea{border-radius: 3px;width: 100%;min-height: 100px;}
.slide-info select{margin-left: 0;}
.slide-info .slide-check, .slide-info .slide-remove{width: 50% !important;}
.slide-info .slide-remove{text-align: right;}
.slide-info .slide-remove{float: right !important;cursor: pointer;}

.slide-adding{margin-top: 10px !important;float: right;}