@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
    --font-family-main: 'Inter', sans-serif;

    --bg-main-blue: #2B70F9;
    --bg-main: #FAFAFA;

    --color-white: white;
    --color-gray: #A9A9A9;
    --color-text: #191919;

    --bg-footer: #212121;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input,
button,
textarea,
select {
    margin: 0;
    font: inherit;
}

body {
    font-family: var(--font-family-main);
    font-weight: 400;
    line-height: normal;
    color: var( --color-text );
    line-height: 22px;
    background: var(--bg-main);
}

h1 {
    font-size: 45px !important;
    font-weight: 700 !important;
}

.bg-main-blue {
    background-color: var(--bg-main-blue);
}

.header__nav nav ul {
    display: flex;
    gap: 68px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav nav a.heacer__sing-up {
    height: 38px;
    color: var(--color-white);
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 18px;
    border-radius: 8px;
    border: 1px solid #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 0 24px;
}

.header__nav nav a.heacer__sing-in {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
}

.header__nav nav a {
    color: var(--color-white);
    font-size: 18px;
    line-height: 62px;
    display: block;
}

.title-section {
    background: url('../img/bg-title.jpg');
}

.main-btn__img {
    width: 148px;
    height: 148px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var( --bg-main-blue );
}

.main-btn__item:hover .main-btn__img {
    background: var(--bg-main-blue);
}

.main-btn__item:hover .main-btn__img svg path {
    fill: var(--color-white);
}

.main-btn__item {
    width: calc(100% / 3);
    background: var(--color-white);
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 60px 0;
    border: 1px solid var( --color-white );
}

.main-btn__item:hover {
    border: 1px solid var( --bg-main-blue );
}

main {
    background: var(--bg-main);
}

.main-btn__text {
    margin-top: 30px;
}

.main-btn__text {
    font-size: 22px;
}

.sidebar__item {
    background: var(--color-white);
    border-radius: 10px;
}

.sidebar__text {
    padding: 30px;
    border: 1px solid #E1E1E1;
    border-radius: 0px 0px 10px 10px;
}

.sidebar__date {
    color: var(--color-gray);
    font-size: 14px;
}

.sidebar__title {
    font-size: 22px;
    line-height: 28px;
    font-weight: 600;
    margin-top: 20px;
    display: block;
}

.sidebar__expert {
    margin-top: 20px;
}

.sidebar__link {
    color: var( --bg-main-blue );
    font-size: 14px;
    font-weight: 400;
    text-decoration-line: underline;
    margin-top: 20px;
    display: block;
}

.main-city {
    background: var( --bg-main-blue );
    color: var(--color-white);
    margin-top: 62px;
    border-radius: 10px;
    padding: 60px;
}

.main-city__title {
    font-size: 45px;
    font-weight: 600;
}

.main-city__content {
    font-size: 22px;
    font-weight: 600;
    margin-top: 30px;
}

.main-city__link {
    margin-top: 60px;
    line-height: normal;
    text-decoration-line: underline;
    font-size: 18px;
    margin-top: 60px;
    display: block;
}

.main-banner {
    margin-top: 60px;
    border-radius: 10px;
    overflow: hidden;
}

.map__frame {
    background: var(--color-white);
    border-radius: 10px;
    border: 1px solid #E1E1E1;
    margin-top: 30px;
}

.section__title {
    font-size: 45px;
    font-weight: 700;
}

.rf-map,
.rf-map *{
    box-sizing: border-box;
}    
.rf-map {
    position: relative;
    margin: auto;
    padding: 60px;
}

.rf-map .district {
    gap: 4px;
    top: 30px;
}

.rf-map .district b {
    position: absolute;
    z-index: 5;
    width: 18px;
    height: 18px;
    background: var(--bg-main-blue);
    border-radius: 50%;
    left: 6px;
    top: 18px;
    transition: all 0.3s;
}
.rf-map .district span {
    z-index: 5;
    font-size: 13px;
    font-weight: bold;
    line-height: 1;
    color: var(--bg-main-blue);
}
.rf-map .district {
    position: absolute;
}

.rf-map svg {
    width: 100%;
    height: 100%;
    filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.5));
    max-height: 600px;
}
.rf-map path {
    stroke: #FFFFFF;
    stroke-width: 1;
    stroke-linejoin: round; 
}

.rf-map [data-step-next],
.rf-map [data-step-next] path {
    fill: var(--bg-main-blue);
    cursor: pointer;
    transition: fill 0.2s;
}

.rf-map .map-step g path:hover,
.rf-map .map-step path:hover {
    fill: #1661f7;
}

.rf-map g[data-active="disabled"] path,
.rf-map path[data-active="disabled"] {
    fill: #A4B1BA;
    cursor: default;
}

.rf-map g[data-active="disabled"] path:hover,
.rf-map path[data-active="disabled"]:hover {
    fill: #97a6b0;
}

.rf-map .district-text {
    display: none;
    position: absolute;
    z-index: 6;
    left: 0;
    top: 60px;
    width: calc(100% - 20px);
    height: calc(100% - 90px);
    padding: 0 20px;
    overflow: auto;
    color: #FFF;
    font-size: 13px;
    font-family: Verdana, sans-serif;   
}
.rf-map .close-district {
    opacity: 1;
    z-index: 9;
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;    
    width: 40px;
    height: 40px;
    line-height: 1;
    font-size: 40px;
    color: #fff;
    cursor: pointer;
    transition: opacity 0.3s;
    pointer-events: initial;
}

.rf-map[data-step="start"] .close-district {
    opacity: 0;
    pointer-events: none;
}
.rf-map .district-links {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
}
.rf-map .district-links div {
    font-size: 13px;
    font-family: Verdana, sans-serif; 
    padding: 4px;
}
.rf-map .district-links div:after {
    content: " | ";
    color: #337AB7;
}
.rf-map .district-links div:last-child:after {
    content: "";
}
.dropfill {
    fill: #337AB7!important;
}
.mainfill {
    fill: #1d4567!important;
}

.nahim.active {
    fill: var(--bg-main-blue) !important;
}

[data-step-id]:not([data-step-id="start"]) {
    display: none;
}

.close-district svg {
    filter: none;
    cursor: pointer;
}

.close-district svg path {
    stroke: var(--bg-main-blue);
}

.rf-map.open path.active {
    fill: var(--bg-main-blue)
}

.district__nav span:not(:first-child)::before {
    content: '-';
    margin: 0 7px;
}

@media (min-width:768px){
    .rf-map .district b {
        width: 28px;
        height: 28px;    
        left: 6px;
        top: 28px;
    }
    .rf-map .district span {
        top: 30px;
        left: 46px;
        font-size: 20px;
        font-weight: normal;
    }
    .rf-map .district-text {
        left: 30px;
        top: 80px;
        width: calc(100% - 60px);
        height: calc(100% - 130px);
        font-size: 16px; 
    }
    .rf-map .close-district {  
        width: 60px;
        height: 60px;
        font-size: 60px;
    }
    .rf-map .district-links {
        display: none;
    }
}

.partner__slider {
    margin: 0 67px;
    padding: 60px 0;
}

.partner-partner__block {
    border-radius: 10px;
    border: 1px solid #ABABAB;
    background: var(--bg-main);
    display: flex;
    padding: 37px 48px 37px 49px;
    justify-content: center;
    align-items: center;
    margin: 0 15px;
}

.partner-partner__item img {
    width: 86px;
    height: 56px;
}

.slick-arrow {
    position: absolute;
    font-size: 0;
}

.slick-arrow svg:hover path {
    stroke: var(--bg-main-blue);
}

.slick-prev.slick-arrow {
    left: -65px;
    top: 0;
    bottom: 0;
}

.slick-next.slick-arrow {
    right: -65px;
    top: 0;
    bottom: 0;
    transform: rotate(180deg);
}

.message .section__title {
    color: var(--bg-main);
}

.message {
    background: var(--bg-main-blue);
    padding: 60px 0;
}

.message form {
    margin-top: 24px;
}

.main-form__top input,
.main-form__top span,
.main-form__top label {
    width: 100%;
}

.message form input,
.message form textarea {
    height: 62px;
    font-size: 18px;
    border-radius: 10px;
    border: 1px solid var(--color-white);
    background: var(--bg-main-blue);
    padding: 0 20px;
}

.message form input[type="submit"] {
    background: var(--color-white);
    color: var(--bg-main-blue);
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}

.main-form__top {
    margin-bottom: 20px;
}

.message form input::placeholder,
.message form textarea::placeholder {
    color: var(--color-white);
}

.message form input[type="button"] {
    background: var(--color-white);
    width: 183px;
    color: var(--bg-main-blue);
    border: none;
    cursor: pointer;
}

.main-form__bottom .wpcf7-form-control-wrap{
    flex: 1;
}

.main-form__bottom textarea {
    width: 100%;
}

.wpcf7-spinner {
    position: absolute !important;
    top: calc(100% + 50px);
}

footer {
    background: var(--bg-footer);
    color: var(--color-white);
    padding: 60px 0;
}

.footer__contact-title {
    font-size: 22px;
    font-weight: 600;
}

.footer__contact-item {
    display: grid;
    gap: 20px;
}

.footer__info {
    margin-top: 60px;
}

.footer__contact-item p {
    display: flex;
}

.footer__contact-item p svg {
    margin-right: 10px;
}

.footer__cop {
    opacity: 0.4;
}

.district-text svg {
    padding: 60px;
}

.district-text svg path {
    fill: #A4B1BA;
    cursor: pointer;
}

.district-text svg path.active {
    fill: var(--bg-main-blue);
}

.logon form input {
    height: 58px;
    width: 100%;
    border-radius: 10px;
    padding: 20px;
    background: var(--color-white);
    margin-top: 10px;
    border: 1px solid #E1E1E1;
}

.logon form label {
    width: 100%;
}

.logon form input[type="submit"] {
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--color-white);
    width: auto;
    border: none;
    background: var(--bg-main-blue);
    cursor: pointer;
    margin: 0;
    line-height: 20px;
}

.logon__btn {
    font-size: 14px;
    line-height: 19px;
    text-decoration-line: underline;
    color: var(--bg-main-blue);
}

.cnt-tooltip {
    z-index: 9999;
    position: absolute;
    display: none;
    top:0px;
    left:0px;
    min-width: 264px;
    width: max-content;
    background-color: #fff;
    padding: 15px 30px;
    color: #000;
    border-radius: 10px; 
    border: 1px solid #E1E1E1;
  }

  .cnt-tooltip p {
    margin: 5px;
    font-size: 14px;
    font-weight: 400;
  }

  .cnt-tooltip p span {
    font-size: 18px;
  }

#authMap a {
    color: var(--bg-main-blue);
    text-decoration: underline;
}

.close {
    cursor: pointer;
}

.modal-header__title {
    font-size: 28px;
    font-weight: 600;
    letter-spacing: 0px;
}

.map-step__last-text-item.active {
    color: var(--bg-main-blue);
    cursor: pointer;
    text-decoration: underline;
}

.map-step__last {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}

.map-step__last svg {
    width: 265px;
}

.map-step {
    margin-top: 40px;
}

.map-step__last-text-row {
    display: grid;
    grid-template-columns: repeat(5, 125px);
    gap: 20px 30px;
    font-size: 14px;
}

.register-input-rol {
    position: relative;
    display: flex;
    align-items: center;
    gap: 15px;
    cursor: pointer;
}

.register-input-rol::before {
    content: '';
    display: inline-block;
    width: 24px;
    height: 24px;
    border: 1px solid var(--color-gray);
    border-radius: 50%;
}

.register-input-rol:hover::before {
    border-color: var(--bg-main-blue);
}

.register-input-rol.active::before {
    border: 1px solid var(--bg-main-blue);
}

.register-input-rol.active::after {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: var(--bg-main-blue);
    position: absolute;
    left: 7px;
}

.form-tab {
    display: none;
}

.form-tab.active {
    display: block;
}

.account-card__item {
    border-radius: 10px;
    background: var(--color-white);
    padding: 40px;
}

.account-card__title {
    font-weight: 600;
}

.account-card__top {
    display: flex;
    justify-content: space-between;
}

.account-card__btn {
    display: inline-block;
    margin-top: 40px;
    border-radius: 6px;
    background: var(--bg-main-blue);
    color: var(--color-white);
    font-size: 14px;
    font-weight: 700;
    line-height: 50px;
    text-transform: uppercase;
    padding: 0 24px;
}

#wpadminbar {
    top: auto !important;
    bottom: 0;
}

@media (max-width: 1535px) {
    .header__nav nav a {
        font-size: 16px;
    }

    .header__nav nav ul {
        gap: 50px;
    }
}